<app-left-sidebar-layout #layout>
  <div class="sidebar">
    <div class="sui flex-x gap-2">
      <h1>Seiten</h1>
      <div class="sui grow-1"></div>
      <button data-testid="btn-new-page" class="primary" (click)="newPage(); layout.mobileOpen.set(true)">Neue Seite</button>
    </div>
    <br>
    <div class="sui flex-y">
      @let pages = pagesService.pages();
      @for (page of pages; track $index) {
        <a [class.selected]="selectedPage()?.ID == pages[$index].ID" class="list-entry" (click)="toPage(page.Path); layout.mobileOpen.set(true)">
          {{page.Path || 'Startseite' }}
          @if(!page.PublishedAt?.Valid) {
            <app-bt-icon style="display: inline-block" class="sui ml-1" name="PencilFill" size="s" />
          }
        </a>
      }
    </div>

  </div>
  @if (selectedPage(); as page) {
    <app-page-editor (deleted)="onDeleted(); layout.mobileOpen.set(false)" [page]="page" class="content"/>
  }
</app-left-sidebar-layout>
