@use "colors" as *;


.animals {

  table {
    border-collapse: collapse;
    min-width: 320px;
    th {
      padding: 5px 8px;
      text-align: left;
      background-color: $primary-h2;
      color: white;
    }

    td {
      padding: 4px 8px;
    }

  }
}

.partial-table {
  .td-created,
  .td-modified, {
    display: none;
  }
}

.content-info-header {
}
