@let editorOpened = selectedAnimal() !== null;
<app-left-sidebar-layout #layout>
  <div class="sidebar">
    <div class="sui flex-x">
      <h1>Tiere</h1>
      <div class="sui grow-1"></div>
      <button data-testid="btn-new-animal" class="primary" (click)="newAnimal(); layout.mobileOpen.set(true)">Neues Tier</button>
    </div>

    <app-text-input idName="filter" placeholder="Suche" label="" [(twoWayModel)]="search"/>

    <div class="animals sui flex-x ai-start wrap gap-4">
      <table [class.partial-table]="editorOpened">
        <thead>
        <tr>
          <th class="td-image">Bild</th>
          <th class="td-name">Name</th>
          <th class="td-born">Geboren</th>
          <th class="td-created">erstellt</th>
          <th class="td-modified">bearbeitet</th>
        </tr>
        </thead>
        <tbody>
          @for (cmsAnimal of animalList(); track $index) {
            @let animal = editedAnimals().get(cmsAnimal.ID ?? '') ?? cmsAnimal;

            <tr [attr.data-testid]="'label-list-animal-' + animal.Name" class="list-entry" [class.selected]="selectedAnimal()?.ID == animal.ID"
                (click)="toAnimal(animal.ID ?? ''); layout.mobileOpen.set(true)">
              <td class="td-image">
                @if (animal.Portrait) {
                  <div class="img-wrapper"><img [cmsImage]="animal.Portrait" cmsImageSize="thumbnail"></div>
                }
              </td>
              <td class="td-name">{{ animal.Name }}
                @if(!animal.PublishedAt?.Valid) {
                  <app-bt-icon style="display: inline-block" class="sui ml-1" name="PencilFill" size="s" />
                }
              </td>
              <td class="td-born">{{ animal.Birthday | date: 'dd.MM.yyyy' }}</td>
              <td class="td-created">{{ animal.CreatedAt | date: 'dd.MM.yyyy' }}</td>
              <td class="td-modified">{{ animal.UpdatedAt | date: 'dd.MM.yyyy' }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="content">
    @if (editorOpened) {

      <div class="content-info-header">
        <div class="sui flex-x ai-center gap-2 grow-1">

        @if (animalsWithSameArticle().length > 1) {
          @for (animal of animalsWithSameArticle(); track animal) {
            <button class="tab large" [class.active]="selectedAnimal()?.ID == animal.ID" (click)="toAnimal(animal.ID ?? '')">{{ animal.Name }}</button>
          }
        } @else {
          <h1>{{ selectedAnimal()?.Name }}</h1>
        }
          @if(pageUrl()) {
            <a [href]="pageUrl()" target="_blank"><app-bt-icon name="BoxArrowUpRight" size="ml"/></a>
          }
        </div>
      </div>

      <app-animal-editor
        [animal]="selectedAnimal()"
        [animals]="animalService.animals()"
        (saved)="onSavedAnimal($event)"
        (deleted)="onDeletedAnimal(); layout.mobileOpen.set(false)"
      />
    }
  </div>

</app-left-sidebar-layout>
