@use "colors" as *;

.editor-wrapper {
  position: relative;
  width: 100%;
  height: 150px;
  max-height: 500px;
  overflow: auto; /* ONLY this scrolls */
  background: $neutral100;
}

/* Highlight layer (bottom) */
.highlight-layer {
  pointer-events: none;
  margin: 0;
  padding: 0 10px !important;
  white-space: pre-wrap;
  box-sizing: border-box;
  overflow: hidden;      /* disable internal scroll */
}

.highlight-layer code {
  background: transparent;
  font-size: 14px;
  font-family: monospace;
  position: relative;    /* not abs */
  padding: 0 !important;
}

/* Editable layer (top) */
.edit-layer {
  position: absolute;
  inset: 0;
  background: transparent;
  color: transparent;
  caret-color: black;
  border: none;
  resize: none;
  font: inherit;
  white-space: pre-wrap;
  padding: 20px 10px;
  font-size: 14px;
  font-family: monospace;
  box-sizing: border-box;
  overflow: hidden;      /* disable internal scroll */
}
