---
import "../../../sheltify-lib/sui/_index.scss";
import "@shared/styling/reset.scss"
import { cms } from '@shared/cms/sheltify-access.ts';
import type { SeoData } from "@shared/types/seo-data";

interface Props {
  seo: SeoData;
}

const {seo} = Astro.props;
const siteName = (await cms.tenantConfig).Name;
const title = seo.title ? (seo.title + ' | ' + siteName) : siteName;
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator}/>
  <title>{title}</title>
  <og:description content={seo.description ?? ''}/>
</head>
<body>
<slot/>
</body>
</html>
