@use "colors";
@use "animal-card";
@use "font";

:root {
  --section-gap-x: min(50px, 5dvw);
  --section-gap-y: 50px;
  --hero-height: 800px;
  --hero-top-height: 70dvh;
}

.themable.article {

  line-height: 1.65;
  font-size: var(--fontsize-default);
  color: #6b6b6b;

  .section-separator-x hr {
    height: 30px;
    position: absolute;
    width: 100%;
    left: 0;
    background: linear-gradient(#afafaf40, #a7a7a708, transparent);
  }

  button {
    outline: none;
    border: none;
    border-radius: 32px;
    font-family: 'Oswald', system-ui;
    font-weight: 400;
    padding: 8px 16px;
    transition: background-color 0.35s, color 0.35s;
    cursor: pointer;

    &.lg {
      font-size: 32px;
    }

    &.primary {
      background: var(--c-primary);
      color: #fff;

      &:hover {
        background: var(--c-primary-h);
        color: #000;
      }
    }

    &.secondary {
      background: #fff;
      outline: 3px solid var(--c-primary);
      color: #424242;

      &:hover {
        background: var(--c-primary-h);
      }
    }
  }

  a.link {
    text-decoration: underline;

    &:hover {
      color: var(--c-primary);
    }
  }

  h1 {
    font-family: Oswald, Arial Narrow, system-ui;
    font-size: var(--fontsize-h1);
    color: var(--c-primary);
    font-weight: bolder;
  }

  h2 {
    font-family: Oswald, Arial Narrow, system-ui;
    font-size: var(--fontsize-h2);
    font-weight: bolder;
    color: var(--c-primary);
  }

  h3 {
    font-family: Oswald, Arial Narrow, system-ui;
    font-size: var(--fontsize-h3);
    font-weight: bolder;
  }

  .section-hero {
    .hero-container {
      margin-bottom: 50px;
    }

    h1 {
      font-weight: 800;
      left: 20px;
      font-size: 60px;
    }
  }

  .section-animal-updates {
    .update-entry {
      box-shadow: 2px 2px 6px #00000036;
      background: var(--c-accent);
      border-radius: 10px;
      overflow: hidden;

      &:hover {
        color: var(--c-primary) !important;
      }
    }
  }

  .button-group {
    button {
      border-radius: 0;
      margin-right: -3px;

      background: #fff;
      outline: 3px solid var(--c-primary);
      color: #424242;

      &:hover {
        background: var(--c-primary-h);
      }

      &.active {
        background: var(--c-primary);
        color: #fff;
      }
    }

    :last-child {
      border-radius: 0 10px 10px 0;
    }

    :first-child {
      border-radius: 10px 0 0 10px;
    }
  }

}

