:root {
  --header-height: 110px;
}

@media (max-width: 1900px) {
  :root {
    --header-height: 70px;
  }
}

.themable.header {
  font-family: 'Oswald';
  box-shadow: none;
  font-weight: 500;
  font-size: 1.15rem;
  box-shadow: 0 0 22px #00000038;
}
