@use "colors" as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &:focus-within {
    label {
      color: $primary;
    }
  }
}

.questionmark {
  width: 26px;
  height: 26px;
  margin-top: -5px !important;
  border-radius: 50%;

  span {
    display: block;
    margin-top: -2px;
  }
}
