.loading-overlay {
  position: fixed;
  flex-direction: column;
  gap: 24px;
  color: #eee;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  animation: rotation 1s linear;

  @keyframes rotation {
    0% {
      opacity: 0.0;
    }
    50% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
  }
}

.sui.loader {
  width: 42px;
  height: 42px;
  border: 3px solid #eee;
  border-bottom-color: transparent;
}
