<div class="left-sidebar-layout">
  <div class="left-sidebar">
    <div class="sui flex-x gap-2">
      <h1>Blogeinträge</h1>
      <div class="sui grow-1"></div>
      <button data-testid="btn-new-blog" class="primary" (click)="newBlog()">Neuer Post</button>
    </div>

    <div class="sui flex-y">
      @let blogs = blogService.blogs();
      @for (blog of blogs; track blog) {
        <div [class.selected]="selectedBlog()?.ID == blogs[$index].ID" class="list-entry sui p-1" (click)="toBlog(blog.ID)">
          {{blog.Title}}
          @if(!blog.PublishedAt?.Valid) {
            <app-bt-icon style="display: inline-block" class="sui ml-1" name="PencilFill" size="s" />
          }
        </div>
      }
    </div>

  </div>
  @if (selectedBlog(); as blog) {
    <app-blog-editor (deleted)="onDeleted()" [blog]="blog" class="content"/>
  }
</div>
