<div class="content-info-header sui flex-x px-3">
  <h1>Organisationsdaten</h1>
  <div class="sui grow-1"></div>
  <button class="primary" (click)="save()">Speichern</button>
</div>
<div class="sui p-3 editor-layout">
  @if (options(); as options) {
    @let rowClass = "sui flex-x gap-2 grow-1 wrap";

    <form class="sui flex-y gap-2 grow-1 pr-1 pb-3 pt-1">
      <div [class]="rowClass">
        <app-image-picker-single [objectFitContain]="true" label="Logo" idName="logo" [(twoWayModel)]="options.LogoHeader"/>
        <div class="sui flex-y gap-2 grow-1">
          <app-text-input class="sui grow-1" idName="name" label="Name" [(twoWayModel)]="options.Name"/>
          <app-text-input class="sui grow-1" idName="siteUrl" label="Webseiten-Url" [(twoWayModel)]="options.SiteUrl"/>
          <app-text-input [long]="true" class="sui grow-1" idName="name" label="Adresse" [(twoWayModel)]="options.Address"/>
        </div>
      </div>
      <div [class]="rowClass">
        <app-text-input [isEmail]="true" class="sui grow-1" idName="email" label="Email" [(twoWayModel)]="options.Email"/>
        <app-text-input class="sui grow-1" idName="phone" label="Telefonnummer" [(twoWayModel)]="options.PhoneNumber"/>
      </div>
      <app-text-input class="sui grow-1" idName="iban" label="IBAN" [(twoWayModel)]="options.IBAN"/>
    </form>

    <h2>Social Media Links</h2>
    <form class="sui flex-y gap-2 grow-1 pr-1 pb-3 pt-1">
      <div [class]="rowClass">
        <app-text-input class="sui grow-1" [(twoWayModel)]="options.LinkInstagram" idName="Instagram" label="Instagram"/>
        <app-text-input class="sui grow-1" [(twoWayModel)]="options.LinkFacebook" idName="Facebook" label="Facebook"/>
      </div>
      <div [class]="rowClass">
        <app-text-input class="sui grow-1" [(twoWayModel)]="options.LinkTiktok" idName="Tiktok" label="Tiktok"/>
        <app-text-input class="sui grow-1" [(twoWayModel)]="options.LinkYoutube" idName="Youtube" label="Youtube"/>
      </div>
      <app-text-input class="sui grow-1" [(twoWayModel)]="options.LinkPaypal" idName="Paypal" label="Paypal"/>
    </form>

    <h2>Administration</h2>
    <app-text-input [(twoWayModel)]="options.BlogCategories" idName="blog-categories" label="Blogkategorien"
                    explanation="Kommaseparierte Liste an Blogkategorien (z.B. Neuigkeiten,Veranstaltungen,Wissenswertes)"/>
    <br>
    <h3>Tierdatenpflege</h3>
    <form class="sui flex-y gap-2 grow-1 pr-1 pb-3 pt-1">

      <span>Verfügbare Funktionen</span>
      <div class="sui flex-x wrap gap-2">
        <app-checkbox-input idName="" label="Tierart auswählbar" [(twoWayModel)]="options.AnimalFeatureAnimalKind"/>
        <app-checkbox-input idName="" label="Paten" [(twoWayModel)]="options.AnimalFeaturePatrons"/>
        <app-checkbox-input idName="" label="Rasse" [(twoWayModel)]="options.AnimalFeatureRace"/>
        <app-checkbox-input idName="" label="Standortangabe" [(twoWayModel)]="options.AnimalFeatureWhere"/>
        <app-checkbox-input idName="" label="Keine Adoption" [(twoWayModel)]="options.AnimalFeatureNoAdoption"/>
      </div>
      @if (options.AnimalFeatureAnimalKind) {
        <app-text-input [(twoWayModel)]="options.AnimalKinds" idName="animal-kinds" label="Tierarten" explanation="Kommaseparierte Liste an Tierarten (z.B. Hund,Katze,Kaninchen)"/>
      }
    </form>
  }
</div>
