@use "colors" as *;
@use "variables" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;

  .img-container {
    width: fit-content;
    height: max(200px, 30dvh);
    min-height: max(200px, 30dvh);
    position: relative;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-crosshair-wrapper {
      width: fit-content;
      height: fit-content;
      position: relative;
    }

    img {
      width: auto;
      height: auto;
      max-height: max(200px, 30dvh);
    }

    &.focus-mode img {
      outline: 4px solid $primary;
      outline-offset: -4px;
      cursor: crosshair;
    }

    .crosshair {
      display: none;
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: rgba(0, 0, 0, 0.41);
      outline: 3px solid rgba(255, 255, 255, 0.73);
      border-radius: 50%;
      margin: -8px -8px;
      pointer-events: none;
    }

    &:hover .crosshair,
    &.focus-mode .crosshair {
      display: block;
    }
  }

  .meta {
    font-size: $fontsize-small-2;
    color: $neutral600
  }

}

.tags-label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: -6px;
}

#open-tag-manager {
    box-shadow: none;
}
