@if(image().NonImage) {
  {{ image().Title }}
} @else {
  <div class="img-container" [class.focus-mode]="editFocusMode">
    <div class="img-crosshair-wrapper">
      <img
        (click)="setFocusPoint($event)"
        [cmsImage]="image()"
        [useFocusPoint]="false"
      >
      <div
        class="crosshair"
        [style.top]="image().FocusY * 100 + '%'"
        [style.left]="image().FocusX * 100 + '%'"
      ></div>
    </div>
</div>

  <div class="sui flex-x">
    <button class="secondary" (click)="rotateImage(-1)">r-</button>
    <button
      (click)="editFocusPoint()"
      title="Der Fokuspunkt bestimmt, zu welchem Punkt hingezoomt wird, wenn aufgrund des Seitenverhältnisses ein Teil des Bildes abgeschnitten wird."
      class="primary small secondary focus-button">
      Fokuspunkt setzen
    </button>
    <button class="secondary" (click)="rotateImage(1)">r+</button>
  </div>
}

<div class="sui flex-y gap-1 grow-1">
  <div class="meta sui flex-y">
    <span>Hochgeladen: {{ image().CreatedAt | date }}</span>
    <span>Dateiname: {{ image().OriginalFileName }}</span>
    <span>Größe: {{ getSizeString(image().LargestAvailableSize) }}</span>
  </div>
  <app-text-input idName="title" label="Titel"
                  [twoWayModel]="image().Title" (twoWayModelChange)="image().Title = $event"/>

  <app-text-input idName="title" label="Beschreibung" [long]="true" explanation="Wird z.B. in Gallerien unter dem Bild angezeigt"
                  [twoWayModel]="image().Description" (twoWayModelChange)="image().Description = $event"/>

  <span class="tags-label">Tags</span>
  <span class="sui flex-x gap-1">
      <div class="tag-selector sui flex-x">
        <ng-select [notFoundText]="'keine'" [(ngModel)]="selectedTags" [multiple]="true" placeholder="...Tags zuweisen">
          @for (tag of tagsService.availableTags(); track tag.ID) {
            <ng-option [value]="tag.ID">
              <app-tag [tag]="tag"/>
            </ng-option>
          }
        </ng-select>
        <button id="open-tag-manager" class="secondary" (click)="editTags()">+</button>
      </div>
  </span>

  <span class="tags-label">Tiere</span>
  <span class="sui flex-x gap-1">
      <div class="tag-selector sui flex-x">
        <ng-select [notFoundText]="'keine'" [(ngModel)]="selectedAnimals" [multiple]="true" placeholder="...Tiere zuweisen">
          @for (animal of animalService.animals(); track animal) {
            <ng-option [value]="animal.Name">
              {{animal.Name}}
            </ng-option>
          }
        </ng-select>
      </div>
  </span>
</div>

<button class="primary sui w-100" (click)="updateMedia()">Speichern</button>
