<div class="sui flex-x ai-center gap-1">
  <label>{{label()}}</label>
  @if(explanation()) {
    <button class="small secondary questionmark" type="button" (click)="showExplanation()"><span>?</span></button>
  }
</div>

@if(nullBoolModel(); as nullBoolModel) {
  <div class="button-group">
    <button
      type="button"
      [class]="
    !nullBoolModel.Valid
      ? 'white'
      : nullBoolModel.Bool
        ? 'primary'
        : 'white'
  "
      (click)="tooggleNullBool(true)">
      Ja
    </button>
    <button
      type="button"
      [class]="(nullBoolModel.Valid && !nullBoolModel.Bool) ? 'primary' : 'white'"
      (click)="tooggleNullBool(false)">
      Nein
    </button>
  </div>
} @else {
  <div class="button-group">
    <button
      type="button"
      [class]="twoWayModel() ? 'primary' : 'white'"
      (click)="onInput(true)">
      Ja
    </button>
    <button
      type="button"
      [class]="twoWayModel() ? 'white' : 'primary'"
      (click)="onInput(false)">
      Nein
    </button>
  </div>
}
