<div class="sui flex-x ai-center gap-1">
  <label>{{ label() }}</label>
  @if (explanation()) {
    <button class="small secondary questionmark" type="button" (click)="showExplanation()"><span>?</span></button>
  }
</div>

@if (showYesNo()) {
  <div class="button-group">
    <button
      type="button"
      [class]="(checkedState() === true) ? 'primary' : 'white'"
      (click)="toggle(true)">
      Ja
    </button>
    <button
      type="button"
      [class]="checkedState() === false ? 'primary' : 'white'"
      (click)="toggle(false)">
      Nein
    </button>
  </div>
} @else {
  <input type="checkbox" [(ngModel)]="twoWayModel">
}
