<div class="sui flex-x ai-center gap-1">
  <label>{{label()}}</label>
</div>

@if(nullBoolModel(); as nullBoolModel) {
  <div class="button-group">
    <button
      type="button"
      [class]="
    !nullBoolModel.Valid
      ? 'secondary'
      : nullBoolModel.Bool
        ? 'primary'
        : 'secondary-red'
  "
      (click)="tooggleNullBool(true)">
      Ja
    </button>
    <button
      type="button"
      [class]="(nullBoolModel.Valid && !nullBoolModel.Bool) ? 'red' : 'secondary'"
      (click)="tooggleNullBool(false)">
      Nein
    </button>
  </div>
} @else {
  <div class="button-group">
    <button
      type="button"
      [class]="twoWayModel() ? 'primary' : 'secondary-red'"
      (click)="onInput(true)">
      Ja
    </button>
    <button
      type="button"
      [class]="twoWayModel() ? 'secondary' : 'red'"
      (click)="onInput(false)">
      Nein
    </button>
  </div>
}
