<div class="sui flex-x ai-center gap-1">
  <label [for]="idName()">{{label()}}</label>
  @if(explanation()) {
    <button class="small secondary questionmark" (click)="showExplanation()"><span>?</span></button>
  }
</div>

@if(long()) {
  <textarea style="resize: vertical; max-height: 175px" [id]="idName()" [name]="idName()" type="text" [value]="twoWayModel()" (input)="onInput($event)" [placeholder]="placeholder() ?? ''"></textarea>
} @else {
  <input [id]="idName()" [name]="idName()" [type]="isEmail() ? 'email' : 'text'" [value]="twoWayModel()" (input)="onInput($event)" [placeholder]="placeholder() ?? ''">
}
