<div class="sui flex-y gap-2 alert-{{type}} relative">
  <b class="title">{{ title }}
    <span class="icon">
      @switch (type) {
        @case ('info') {
          i
        }
        @case ('warning') {
          !
        }
        @case ('error') {
          !
        }
      }
    </span>
  </b>
  <span>{{ message }}</span>

  <div class="sui flex-y gap-1">
    @if(options) {
      @for(option of options; track option) {
        <button class="primary" (click)="selectOption(option)">{{ optionTranslations ? optionTranslations[$index] : option }}</button>
      }
    }
  </div>

  <div class="sui flex-x jc-end gap-1">
    @for (button of buttons; track button) {
      <button
        #btn
        (click)="onButtonClicked(button)"
        [autofocus]="button == 'ok' || button == 'ja'"
        [class]="button == 'ja' || button == 'ok' ? 'primary' : 'secondary'">
        {{ button }}
        {{ button == 'ok' || button == 'ja' ? btn.focus() : '' }}
      </button>
    }
  </div>
</div>
