@let sectionVal = section();

<div class="section-titlebar sui flex-x gap-1 ai-center only-editmode">
  <b class="sui py-2 grow-1">{{ sectionLabels.get(sectionVal.SectionType) ?? 'Sektion' }}</b>
  <ng-icon class="x" (click)="deleteSection()" name="bootstrapX" size="22px"/>
</div>

@switch (sectionVal.SectionType) {
  @case ('title') {
    <app-section-editor-title [section]="sectionVal"/>
  }
  @case ('text') {
    <app-section-editor-text [section]="sectionVal"/>
  }
  @case ('image') {
    <app-section-editor-images [section]="sectionVal"/>
  }
  @case ('hero') {
    <app-section-editor-hero [section]="sectionVal"/>
  }
  @case ('animal-list') {
    <app-section-editor-animal-list [section]="sectionVal" (triggerRerender)="triggerRerender()"/>
  }
  @case ('html') {
    <app-section-editor-html [section]="sectionVal"/>
  }
  @case ('video') {
    <app-section-editor-video [section]="sectionVal"/>
  }
}
<br>
<hr>
