::ng-deep.ng-select-container {
  border: 2px solid #aaa !important;
  height: 44px !important;
  min-width: 150px;

  &:focus-within {
    background-color: #dfeefe !important;
    border: 2px solid #2268bd !important;
  }
}
