@use "colors" as *;

::ng-deep.ng-select-container {
  border: 1.5px solid $neutral150 !important;
  height: 44px !important;
  min-width: 150px;

  &:focus-within {
    background-color: #dfeefe !important;
    border: 1.5px solid $primary !important;
  }
}
