@let images = images$() | async;
<div class="sui flex-x h-100">
  <div class="tags-and-animals sui flex-y gap-1">
    <b>Tags</b>
    @for (tag of tagsService.availableTags(); track tag.ID) {
      <div class="sui flex-x">
        <input [id]="'tag-' + tag.ID" type="checkbox" [ngModel]="selectedTags().includes(tag.ID)" (change)="toggleTag($event, tag.ID)">
        <label [for]="'tag-' + tag.ID" class="sui pl-1">
          <app-tag [tag]="tag"/>
        </label>
      </div>
    }

    <b class="sui mt-2">Tiere</b>
    @for (animal of animalService.animals(); track animal.ID) {
      <div class="sui flex-x">
        <input [id]="'tag-' + animal.ID" type="checkbox" [ngModel]="selectedAnimals().findIndex(c => c.ID == animal.ID) !== -1" (change)="toggleAnimal($event, animal)">
        <label [for]="'tag-' + animal.ID" class="sui pl-1">
          {{ animal.Name }}
        </label>
      </div>
    }
  </div>


  <div appFileDrop (filesDropped)="onFilesDropped($event)" (filesHovered)="onFilesHovered($event)"
       class="sui pl-2 flex-x gap-2 grow-1">

    <div class="sui flex-y gap-2 grow-1 py-3">
      <h1>Medien</h1>
      <div class="sui flex-x gap-2">
        <button class="primary" data-testid="btn-upload-images" (click)="uploadImages()">Hochladen</button>
        <button class="red" data-testid="btn-delete-images" (click)="deleteSelectedImages()">Löschen</button>
        <button class="primary secondary" data-testid="btn-update-unused-images" (click)="updateUnusedMediaFiles()">unverwendete Bilder suchen</button>
      </div>

      @if (images) {
        <div class="sui flex-x gap-2 wrap list dropzone" [class.files-hovered]="filesHovered()"
             [class.with-picker]="true">
          @for (image of images; track image.ID) {
            <app-media-entry
              [attr.data-testid]="'media-entry-' + image.Title"
              (click)="toggleSelect(image.ID, $event, images)"
              [media]="editedImages().get(image.ID) ?? image"
              [selected]="selectedImageIds().has(image.ID)"
              [active]="activeImageId() == image.ID"
            />
          }
        </div>

        @if (isPicker) {
          <div class="sui flex-x gap-1 jc-end">
            <button
              data-testid="btn-submit"
              class="primary" [disabled]="selectedImageIds().size === 0"
              (click)="pickImages(selectedImageIds(), images)">
              Auswählen
            </button>
            <button
              data-testid="btn-cancel"
              class="secondary"
              (click)="cancel()">
              Abbrechen
            </button>
          </div>
        }
        @if(pendingUploadsNumber() > 0) {
          {{pendingUploadsNumber()}}
        }
        @let unusedImagesVal = unusedImages();
        @if (unusedImagesVal && unusedImagesVal.length > 0) {
          <a class="unused-images-alert" (click)="openUnusedMediaDeleter()">Es wurden <b>{{ unusedImagesVal.length }}</b> ungenutze Bild(er) gefunden.
            Bitte klicke hier um zu bestimmen, welche davon gelöscht werden können um Speicherplatz zu sparen.</a>
        }
      }

    </div>

  </div>
  @if (images) {

    @let selection = ({images: images, active: activeImageId(), selected: selectedImageIds()} | mediaSelection);
    <div class="sidebar">
      @if (selection.selected!.length == 1) {
        @let image = editedImages().get(selection.active?.ID ?? "") ?? selection.active;
        <app-image-editor class="card" [image]="image!" (editedImage)="addEditedImage($event)"/>
      } @else if (selection.selected!.length > 0) {
        <h2>{{ selectedImageIds().size }} Elemente</h2>
      }
    </div>
  }


</div>
