.section-file {
  word-wrap: break-word;
  .file {
    max-width: 350px;
    cursor: pointer;

    img {
      width: 60px;
      height: 60px;
    }
  }

  i {
    font-size: 0.8rem;
  }

  a {
    outline: 1px solid #bbb;
    padding: 12px;

    &:hover {
      button {
        text-decoration: underline;
      }
    }
  }
}
