.section-image {
  .image-grid {
    &.vertical {
      column-count: 3;
      column-gap: 8px;

      &.count-1 {
        column-count: 1;
        max-width: 500px;
      }

      &.count-2 {
        column-count: 2;
        max-width: 800px;
      }
    }

    img {
      cursor: pointer;
    }

    &.horizontal {
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;

      img {
        width: unset;
      }

      &.small {
        img {
          height: 150px;
        }
      }

      &.medium {
        img {
          height: 400px;
        }
      }

      &.large {
        img {
          width: 100%;
        }
      }
    }


  }


  .image-grid img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 8px;
    break-inside: avoid;
    object-fit: contain;

  }

  @media (max-width: 800px) {
    .image-grid.vertical {
      column-count: 2 !important;
    }
  }

  @media (max-width: 500px) {
    .image-grid.vertical {
      column-count: 1 !important;
    }
  }

  .lightbox {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
    align-items: center;
    justify-content: center;

    .lightbox-content {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
      height: 100%;
      padding-top: 32px;

      img {
        object-fit: contain;
        max-width: min(100%, 85dvw);
        flex-grow: 1;
        max-height: calc(100% - 80px);
      }
    }

    .description {
      color: rgba(255, 255, 255, 0.61);
    }

    button {
      background: none;
      width: clamp(150px, 125px, 15dvw);
      color: #fff;
      font-weight: bold;
      font-size: 32px;
      border-radius: 0;
      cursor: pointer;
      height: 100%;
      position: fixed;
      top: 0;

      &.previous {
        left: 0;

        &:hover {
          background: linear-gradient(-90deg, transparent, rgba(255, 255, 255, .3333333333))
        }
      }

      &.next {
        right: 0;

        &:hover {
          background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .3333333333))
        }
      }
    }
  }
}