.section-title {
    .underline {
        text-decoration: underline;
    }

    .anchor-link {
        margin-left: 0.4em;
        font-size: 0.8em;
        text-decoration: none;
        opacity: 0.4;
    }

    .anchor-link:hover {
        opacity: 1;
    }
}