.section-hero {
  .hero-container {
    display: block;
    position: relative;
    height: var(--hero-height);
    overflow: hidden;

    &.top-hero {
      height: var(--hero-top-height);

      .hero-img {
        height: var(--hero-top-height);
      }
    }
    
    .hero-scroller {
      transition: transform 1s;
    }
    
    .hero-img {
      object-fit: cover !important;
      height: var(--hero-height);
      width: 100%;
      max-height: 100dvh;
      position: absolute;
    }

    h1 {
      position: absolute;
      z-index: 1;
      bottom: 20%;
      width: 100%;
      padding-left: 20%;
    }
  }
}