---
import Header from "@shared/layouts/Header.astro";
import Layout from "@shared/layouts/Layout.astro";

const animals = await cms.animals;
---

<h1>MFT!</h1>

<Layout>
	<Header />
	{animals.map((a) => <div>{a.name}</div>)}
</Layout>
