---
import Layout from "@shared/layouts/Layout.astro";
import { cms } from '@shared/cms/sheltify-access';

const animals = await cms.animals;
---

<h1>MFT!</h1>

<Layout>
	{animals.map((a) => <div>{a.Name}</div>)}
</Layout>
