$primary-h1: #d1e8a6;
$primary: #95a672;
$yellow: #f4ba63;
$yellow-h1: #ffce72;
$primary-d1: #8faa65;
$primary-bg: #adc38c;
$accent: #fdecd0;
$accent-h1: #fffaf0;
$text: #6b6b6b;
$text-heading: #f8f8f8;
$backdrop: #707070;
$cto: #faa74a;
$cto-d1: #f39832;


$neutral100: #f7f5f3;
$neutral150: #eeeeee;
$neutral200: #e2e2e2;
$neutral400: #c4c4c4;
$neutral500: #aaaaaa;
$neutral600: #7c7c7c;
$neutral700: #6b6b6b;
$neutral800: #424242;
$neutral900: #272727;
