<div class="left-sidebar-layout">
  <div class="left-sidebar">
    <div class="sui flex-x gap-2">
      <h1>Teammitglieder</h1>
      <div class="sui grow-1"></div>
      <button data-testid="btn-new-animal" class="primary" (click)="newTeamMember()">Neues Teammitglied</button>
    </div>

    <div class="sui flex-y">
      @let teamMembers = teamMembersService.teamMembers();
      @for (teamMember of teamMembers; track teamMember) {
        <div [class.selected]="selectedTeamMember()?.ID == teamMembers[$index].ID" class="entry sui p-1" (click)="toTeamMember(teamMember.ID)">{{teamMember.Name || ' - '}}</div>
      }
    </div>

  </div>
  @if (selectedTeamMember(); as teamMember) {
    <app-teammember-editor [teamMember]="teamMember" class="content"/>
  }
</div>
