.themable.animal-card {
  transition: transform 0.23s, box-shadow 0.4s, color 0.23s;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 0 16px #0000004a;

  &:hover {
    box-shadow: 0 0 16px color-mix(in oklab, var(--c-primary) 65%, #0003);
    outline: none;
    color: var(--c-primary) !important;
  }

  .name-row {
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    font-weight: bold;
  }

  .gender-icon {
    font-family: fantasy, sans-serif;
    font-size: 1.2rem;
  }
}
