<div class="sui flex-x gap-2 jc-end">
  <button [disabled]="!dirty()" type="button" class="primary" (click)="triggerSave()">Speichern</button>
  @let publishable = !!entry()?.PublishedAt;
  @let isPublished = entry()?.PublishedAt?.Valid;
  @if(publishable) {
    <button [class.warning]="!isPublished" [class.success]="isPublished" (click)="togglePublished.emit()">{{ entry()?.PublishedAt?.Valid ? 'Depublizieren' : 'Publizieren' }}</button>
  }
  <button type="button" class="red" (click)="delete.emit()">Löschen</button>
</div>
