<div class="content-info-header sui flex-x">
  @if (blog(); as blog) {
    <h1 class="sui grow-1">{{ blog.Title }}</h1>

    <div class="sui flex-x gap-2">
      <button type="button" class="primary" (click)="save()">Speichern</button>
      @let isPublished = blog.PublishedAt?.Valid;
      <button [class.warning]="!isPublished" [class.success]="isPublished" (click)="togglePublished()">{{ blog.PublishedAt?.Valid ? 'Depublizieren' : 'Publizieren' }}</button>
      <button type="button" class="red" (click)="delete()">Löschen</button>
    </div>
  }
</div>

<div class="editor-layout sui p-2">
  <div data-testid="form-animal-editor" class="sui flex-x gap-3 grow-1">
    <form class="sui grow-1 flex-y gap-2">
      <app-image-picker-single [objectFitContain]="true" label="Logo" idName="logo" [(twoWayModel)]="blog().Thumbnail"/>
      <div class="sui flex-x gap-2">
        <app-text-input idName="title" label="Titel" [(twoWayModel)]="blog().Title"/>

        @if (blogCategories) {
          <app-select-input idName="blogCategory" label="Kategorie" [(twoWayModel)]="blog().Category" [options]="blogCategories"/>
        }

      </div>
      <div class="sui flex-x gap-2">
        <app-checkbox-input idName="show-in-menu" label="Als Popup anzeigen" [(twoWayModel)]="blog().ShowPopup"/>
      </div>
    </form>


  </div>
  <app-last-edited [entry]="blog()"/>

  @if (blog(); as page) {
    <br>
    <hr>
    <br>

    @if (page.ArticleID) {
      <app-article-editor [articleId]="page.ArticleID" [saveArticle]="saveArticle$" class="content"/>
    } @else {
      <button data-testid="btn-create-article-for-animal" (click)="createArticle()" class="secondary">Artikel erstellen</button>

    }

  }
</div>
