---
import { cms } from "@shared/cms/sheltify-access.ts";
import Article from "./Article.astro";
interface Props {
  animalKind: string;
  animalNames: string;
}
const { animalKind, animalNames } = Astro.props;

const animals = await cms.getAnimalsByNames(animalKind, animalNames);
---

{
  animals.map((animal) => (
    <div class="sui wrapper">
      <h2>{animal.Name}</h2>
      <p>Art: {animal.AnimalKind}</p>
    </div>
  ))
}

<Article article={await cms.getArticle(animals[0].ArticleID ?? '')} />
