---
import { cms, type SheltifyAccess } from '@shared/cms/sheltify-access.ts';
import AnimalCard from '@shared/components/AnimalCard.astro';

const animals = await cms.animals;
---

<div class="animal-list">
  {
    animals.map(animal => (
      <AnimalCard animal={animal}/>
    ))
  }
</div>
