---
import { cms } from "@shared/cms/sheltify-access";
import SearchBar from "@shared/components/SearchBar.astro";
import CmsImg from "@shared/components/ui/CmsImg.astro";
import { createPageStructure } from "sheltify-lib/page-structure.ts";
import HeaderEntry from "./HeaderEntry.astro";

const pages = (await cms.getPages())
  .filter((page) => page.PublishedAt?.Valid && page.ArticleID && page.ShowInMenu)
  .sort((a, b) => b.Priority - a.Priority);

const menu = [...createPageStructure(pages).values()];
const startPage = menu.find((item) => item.link == "/");
const logo = (await cms.tenantConfig).LogoHeader;
---

<nav class="themable header">
  <div class="logo">
    <a href={startPage && "/"}>
      {logo && <CmsImg img={logo} size="xlarge" refetch={false} />}
    </a>
  </div>
  <div class="menu">
    {menu.map((item) => <HeaderEntry entry={item} startPageName="Home" />)}
  </div>
  <SearchBar />
</nav>

<style lang="scss">
  nav {
    display: flex;
    align-items: center;
    height: var(--header-height);
    top: 0;
    transition: opacity 0.3s;
    position: fixed;
    z-index: 22;
    width: 100dvw;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.22);
    padding: 0 16px;
    gap: 24px;
    background-color: #fff;
    font-size: 1.25rem;
    font-weight: 600;

    .logo {
      padding-left: 42px;
      height: 100%;
    }

    .logo :global(img) {
      height: 90%;
    }

    .menu {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
  }
</style>

<script>
  const links = document.querySelectorAll<HTMLAnchorElement>(".header a");

  for (const link of links) {
    if(link.href === window.location.href) {
      link.classList.add("active");
    }
  }
</script>
