---
import type { MenuEntry } from 'sheltify-lib/page-structure';
interface Props {
  entry: MenuEntry,
  startPageName: string,
}
const {entry, startPageName} = Astro.props;
---

{
  /*if*/ entry.children.length == 0 ?
  <a href={'/' + entry.link} class="sui px-2 py-3">{entry.title || startPageName}</a>

    /*else*/:
  <div class="sui px-2 py-3 dropdown-container">

    {/*if*/ entry.link ?
      <a href={'/' + entry.link} class="dropdown-button">
        {entry.title}
      </a>

      /*else*/ :
      <span>{entry.title}</span>
    }

    <div class="dropdown-content">
      <div class="entries">

        {entry.children.map(entry => (
          <a href={'/' + entry.link}>{entry.title}</a>
        ))}
      </div>
    </div>

  </div>
}

<style lang="scss">
  a:hover {
    color: var(--c-primary);
    cursor: pointer;
  }

  .dropdown-container {


    .dropdown-button {
      cursor: pointer;
    }

    .dropdown-content {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.1s;
      position: absolute;
      z-index: 1;
      margin-top: -1px;

      .entries {

        // triangle
        &::before {
          content: "";
          width: 0;
          height: 0;
          margin-left: 30px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;

          border-bottom: 10px solid #fff;
        }

        background-color: #fff;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 6px #0003;
        overflow: hidden;

        a {
          padding: 8px 12px;
        }
      }
    }

    &.open .dropdown-content {
      opacity: 1;
      pointer-events: all;
    }
  }

  .dropdown-container:hover .dropdown-content {
    opacity: 1;
    pointer-events: all;
  }
</style>