---
import { cms } from "@shared/cms/sheltify-access"
import { createPageStructure } from 'sheltify-lib/page-structure.ts';
import HeaderEntry from "./HeaderEntry.astro";

const pages = (await cms.getPages())
  .filter(page => page.ShowInMenu)
  .sort(((a,b) => b.Priority - a.Priority));

const menu = [...createPageStructure(pages).values()];
---

<nav>
  {menu.map((item) =>
    <HeaderEntry entry={item}/>
  )
  }
</nav>

<style lang="scss">
  nav {
    height: var(--header-height);
    top: 0;
    transition: opacity 0.3s;
    position: fixed;
    z-index: 22;
    width: 100dvw;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.22);
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 24px;
    background-color: #fff;
    font-size: 1.25rem;
    font-weight: 600;

    .logo-link,
    img {
      height: 90%;
    }
  }
</style>
