---
import { cms } from '@shared/cms/sheltify-access.ts';
import Article from '@shared/components/Article.astro';

interface Props {
  path: string,
}

const {path} = Astro.props;
const page = await cms.getPageByPath(path);
const article = page.ArticleID ? await cms.getArticle(page.ArticleID) : undefined;
---

{
  article ?
  <Article isDraft={!(page.PublishedAt?.Valid)} article={article}/> :
  <div class="sui wrapper py-2">Kein Artikel</div>
}

