---
import SnhgLayout from '../layouts/SnhgLayout.astro';
---

<SnhgLayout>
  <div class="sui wrapper py-3 themable article">
    <h2 class="sui py-2">Seite nicht gefunden</h2>
    <a class="link" href="/">Zurück zur Startseite</a>
  </div>
</SnhgLayout>
