---
import AnimalList from '@shared/components/AnimalList.astro';
import Header from '@shared/components/Header.astro';
import Layout from '../../../src/layouts/Layout.astro';
---

<Layout>
  <Header/>
  <h1>SNHG</h1>
  <AnimalList/>
</Layout>
