---

import SiteMap from '@shared/components/SiteMap.astro';
import SnhgLayout from '../layouts/SnhgLayout.astro';
---

<SnhgLayout seo={{title: 'Sitemap'}}>
  <div class="sui wrapper py-4 themable article">
  <h1 class="sui text-center">Sitemap</h1>
  <br>
  <SiteMap/>
  </div>
</SnhgLayout>
