<div class="sui flex-y grow-1 article-container themable article card" [class.previewMode]="isPreviewMode()" [class.dragMode]="articleEditorService.movedItem()">
<span class="sui flex-x jc-end grow-1 gap-2">
  @if (!saveArticle()) {
    <button data-testid="btn-save-article" class="grow-1 primary" (click)="save()">Speichern</button>
  }
  <button data-testid="btn-preview-article" (click)="isPreviewMode.set(!isPreviewMode())" [class]="isPreviewMode() ? 'primary' : 'secondary'">
    <ng-icon name="bootstrapEye"/>
  </button>
</span>

  <div (click)="addSectionAtRow(0)" (mouseup)="moveToNewRow(0)" data-testid="row-selector-0" class="move-to-row"></div>

  @if (articleEditorService.article(); as article) {
    @for (section of article.Structure.Rows; track $index) {

      <app-section-editor [section]="section" [rowIndex]="$index"/>

      <div (click)="addSectionAtRow($index + 1)" (mouseup)="moveToNewRow($index + 1)" [attr.data-testid]="'row-selector-' + $index + 1" class="move-to-row"></div>
    }
  }
  <span class="overscroll"></span>
</div>
