@use "colors" as *;

:host {
  border: 1px solid $neutral400;
}


.article-row {
  //border: 2px dashed $neutral400;

  &:not(:first-of-type) {
    border-top: none;
  }
}

.article-column {
  background-color: #fff;
  outline: 1px solid #eee;
}

.section-titlebar {
  b {
    opacity: 0;
    color: $primary;
    font-size: 0.9rem;
  }
}

.move-to-column,
.move-to-row {
  cursor: pointer;


  &:hover {
    background-image: url("/assets/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    opacity: 0.4;
    outline: 2px dashed mix($primary, transparent, 50%);
  }

  outline-offset: -2px;
}

.dragMode {
  .move-to-column,
  .move-to-row {
    background: $primary-h3;
    outline-offset: -2px;
  }

  .move-to-column,
  .move-to-row, {
    &:hover {
      background: $primary;
      cursor: crosshair !important;
    }
  }

  cursor: crosshair !important;
}

.move-to-column {
  width: 34px;
  color: #fff;
  font-size: 10px;
  padding: 12px;
}

.move-to-row {
  height: 34px;
  color: #fff;
  font-size: 10px;
  padding: 12px;
}

.move-button,
.x {
  opacity: 0;
  transition: opacity 0.25s;
}

.section-titlebar:hover {
  .move-button,
  .x {
    opacity: 1;
  }
}

.x {
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background: $error;
    color: #fff;
  }
}

.section-content {
  .section-editor {
    display: none;
  }

  .section-preview {
    margin-top: -50px;
    min-height: calc(100% + 50px);
    pointer-events: none;
  }
}

.article-column:not(.edit-mode) {
  cursor: pointer;
  &:hover {
    outline: 2px solid $primary-h2;
  }
}

.article-column.edit-mode {
  outline: 2px solid $primary;
  .section-editor {
    display: block;
  }

  .section-titlebar {
    b {
      opacity: 1;
    }
  }

  .section-preview {
    display: none;
  }
}
