<div class="sui flex-y grow-1 article-container card" [class.previewMode]="isPreviewMode()" [class.dragMode]="articleEditorService.movedItem()">
<span class="sui flex-x jc-end grow-1 gap-2">
  @if (!saveArticle()) {
    <button data-testid="btn-save-article" class="grow-1 primary" (click)="save({pushUpdate: false, updateNote: ''})">Speichern</button>
  }
  <button data-testid="btn-preview-article" (click)="isPreviewMode.set(!isPreviewMode())" [class]="isPreviewMode() ? 'primary' : 'secondary'">
    <ng-icon name="bootstrapEye"/>
  </button>
</span>

  @if (articleEditorService.article(); as article) {

    @if (showUpdateNote()) {
      <app-text-input
        class="contentUpdateNote" idName="contentUpdateNote" label="letzte Updatenotiz" [long]="true"
        [(twoWayModel)]="article.ContentUpdateNote"
        style="width: 100%;"
        explanation="z.B: 'Neue Bilder von Snoopy'. Kurzer Text, der in 'Tierupdates'-Sektionen angezeigt wird - dort (z.B. auf der Startseite) werden Tiere für eine gewisse Zeit nachdem man sie bearbeitet hat angezeigt."
      />
    }

    <div
      (click)="addSectionAtRow(0)"
      (mouseup)="moveToNewRow(0)"
      data-testid="row-selector-0"
      class="move-to-row"
    ></div>

    @for (section of article.Structure.Rows; track $index) {

      <app-section-editor
        (click)="clickSection(section, $index)"
        [(editedRow)]="editedRow"
        [editable]="selectedFillColor() == undefined"
        [section]="section"
        [rowIndex]="$index"
      />

      @let sectionAfter = article.Structure.Rows[$index + 1];
      <div
        (click)="addSectionAtRow($index + 1)"
        (mouseup)="moveToNewRow($index + 1)"
        [attr.data-testid]="'row-selector-' + $index + 1"
        class="move-to-row"
        [class]="'mt-' + sectionAfter?.BackgroundColor + ' ' + 'mb-' + section.BackgroundColor"
      ></div>
    }
  }
  <span class="overscroll"></span>
</div>

<div class="sui flex-y gap-1 color-filler p-2 rounded-1">
  <button class="color-filler-toggle" (click)="colorPickerExpanded.set(!colorPickerExpanded())">
      <app-bt-icon [name]="colorPickerExpanded() ? 'ChevronDown' : 'PaintBucket'"/>
  </button>

  @let selectedColor = selectedFillColor();
  @if (colorPickerExpanded() || selectedColor !== undefined) {
    <div class="sui flex-y gap-1 wrap">

      @if (selectedColor == undefined) {

        @for (colorName of ['accent-1', 'accent-2', 'accent-3']; track $index) {
          <button [class]="'themable themable-bg-'+colorName" (click)="colorFill(colorName)">
            <app-bt-icon name="PaintBucket"/>
          </button>
        }
        <button style="background: #fff; border: 1px solid #ccc;" [class.active-picker]="'' == selectedColor" (click)="colorFill('')">
          <app-bt-icon name="PaintBucket"/>
        </button>
      } @else {
        Sektion anklicken zum einfärben
        <button [class]="'themable themable-bg-'+selectedColor" (click)="colorFill(undefined)"><app-bt-icon name="PaintBucket"/>x</button>
      }
    </div>
  }

</div>
