@use "colors" as *;

:host {

  &:hover {
    .article-row:not(.preview) {
      .article-column:not(.edit-mode) {
        cursor: pointer;

        &:hover {
          outline: 1px solid $neutral200;
        }
      }


    }

  }
}

.move-to-column,
.move-to-row {
  cursor: pointer;

  &:hover {
    background-image: url("/assets/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    opacity: 0.4;
    outline: 2px dashed mix($primary, transparent, 50%);
  }

  outline-offset: -2px;
}


.article-row {
  &:not(:first-of-type) {
    border-top: none;
  }
}


.section-titlebar {
  position: relative;
  background: transparent;
  z-index: 1;

  b {
    opacity: 0;
    color: $primary;
    font-size: 0.9rem;
  }

  .move-button,
  .x {
    opacity: 0;
    transition: opacity 0.25s;
    z-index: 1000;
  }

  .move-button:hover {
    background: $primary-h4;
  }

  .x {
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background: $error;
      color: #fff;
    }
  }

}

.article-row:not(.preview) {
  .article-column:hover .section-titlebar {
    background: linear-gradient(-90deg, mix(#fff, transparent, 50%) 130px, transparent 180px);

    .move-button,
    .x {
      outline: 2px solid $primary;
      opacity: 1;
    }
  }
}


.dragMode {
  .move-to-column,
  .move-to-row {
    background: $primary-h3;
    outline-offset: -2px;
  }

  .move-to-column,
  .move-to-row, {
    &:hover {
      background: $primary;
      cursor: crosshair !important;
    }
  }

  cursor: crosshair !important;
}

.move-to-column {
  width: 34px;
  color: #fff;
  font-size: 10px;
  padding: 12px;
}

.move-to-row {
  height: 34px;
  color: #fff;
  font-size: 10px;
  padding: 12px;
}


.section-content {
  display: grid;
  justify-items: stretch;


  .section-editor,
  .section-preview {
    grid-area: 1 / 1;
    position: relative;
    box-sizing: border-box;
  }

  .section-editor {
    opacity: 0;
    pointer-events: none;
    padding: 0 16px 12px 16px;
  }

  .section-preview {
    margin-top: -50px;
    min-height: calc(100% + 50px);
    pointer-events: none;
  }
}


.article-column.edit-mode {
  outline: 2px solid $primary !important;

  .section-editor {
    pointer-events: all;
    opacity: 100%;
  }

  .section-titlebar {
    b {
      opacity: 1;
    }
  }

  .section-preview {
    opacity: 0;
  }
}

.article-row.preview {
  .section-editor {
    display: none;
  }

  .section-preview {
    pointer-events: all;
  }

  .section-titlebar {
    pointer-events: none;
  }
}
