@use "colors" as *;

// --------------------------------------
// Move-to controls
// --------------------------------------
.move-to-row {
  position: relative;
  color: #fff;
  font-size: 10px;
  padding: 12px;
  height: 34px;
  cursor: pointer;
  outline-offset: -2px;

  &:only-of-type {
    outline: 2px dashed mix($primary, transparent, 50%);
    position: relative;
    height: 100px;
  }

  &:only-of-type:after {
    content: "Erste Sektion hinzufügen";
    position: absolute;
    width: 95%;
    top: 35px;
    text-align: center;
    color: $primary;
    font-size: 20px;
    box-sizing: border-box;
  }

  .paste-button {
    position: absolute;
    height: 26px;
    right: 20%;
    top: 5px;
    opacity: 0;
    font-size: 0.7rem;
  }

  &:hover {
    background-image: url("/assets/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    opacity: 1;
    outline: 2px dashed mix($primary, transparent, 50%);

    &:before, &:after {
      opacity: 0.6;
    }

    .paste-button {
      opacity: 1;
    }
  }
}

// Drag mode
.dragMode {
  cursor: crosshair !important;

  .move-to-row {
    background: $primary-h3;
    outline-offset: -2px;

    &:hover {
      background: $primary;
      cursor: crosshair !important;
    }
  }
}

.color-filler {
  width: 130px;
  background: $neutral100;
  box-shadow: 0 0 12px #0002;
  position: fixed;
  right: 24px;
  bottom: 12px;
}
