.themable-bg-accent-1 {
  background: var(--themable-bg-accent-1);
}

.themable-bg-accent-2 {
  background: var(--themable-bg-accent-2);
}

.themable-bg-accent-3 {
  background: var(--themable-bg-accent-3);
}
