@use "colors" as *;
@use "variables" as *;

.button:not(.unstyled),
button:not(.unstyled) {
    border: none;
    border-radius: 10px;
    padding: 0.5em 1.2em;
    cursor: pointer;
    transition: background-color 0.27s, outline-color 0.27s, color 0.27s, box-shadow 0.3s;

    &:hover {
        box-shadow: 1px 2px 4px #0000003f;
    }

    &.small {
        padding: 0.15em 0.5em;
        font-size: $fontsize-small;
    }

    &.large {
        padding: 0.7em 2em;
        font-size: $fontsize-h4;
    }

    &.primary {
        background-color: $primary;
        color: #fff;

        &:hover {
            background-color: $primary-h1;
        }
    }

    &.alert {
        background-color: $alert;
        color: #fff;

        &:hover {
            background-color: $alert-h1;
        }
    }

    &.cto, &.call-to-action {
        background-color: $cto;
        color: #fff;
        transition: transform 0.27s, background-color 0.27s;

        &:hover {
            background-color: $cto-d1;
            transform: scale(1.05) translateY(-1%);
        }
    }

    &.secondary {
        outline: 3px solid $primary;
        outline-offset: -3px;
        background-color: transparent;
        color: $primary;

        &:hover {
            outline-color: $primary;
            color: $primary;
            background-color: $primary-bg;
        }
    }

    &.bubble {

        outline: 3px solid $primary;
        outline-offset: -3px;
        background-color: transparent;
        color: $primary;

        &:hover {
            outline-color: $primary;
            color: $primary;
            background-color: $primary-bg;
        }

        &.active {
            background-color: $primary;
            color: #fff;

            &:hover {
                background-color: $primary;
            }
        }
    }
}

button.unstyled {
    border: inherit;
    background-color: inherit;
    color: inherit;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button-group {
  button {
    border-radius: 0;
    margin-right: -3px;
  }
  :last-child {
    border-radius: 0 10px 10px 0;
  }
  :first-child {
    border-radius: 10px 0 0 10px;
  }
}
