@use "colors" as *;
@use "variables" as *;

.button:not(.unstyled),
button:not(.unstyled) {
  border: none;
  border-radius: 10px;
  padding: 0.5em 1.2em;
  cursor: pointer;
  transition: background-color 0.27s, outline-color 0.27s, color 0.27s, box-shadow 0.3s;
  font-weight: 500;

  &:hover {
    box-shadow: 1px 2px 4px #0000003f;
  }

  &.small {
    padding: 0.15em 0.5em;
    font-size: $fontsize-small;
  }

  &.large {
    font-size: $fontsize-default;
  }

  &.primary {
    background-color: $primary;
    color: #fff;

    &:hover {
      background-color: $accent;
    }
  }

  &.warning {
    background-color: $warning;
    color: #fff;

    &:hover {
      background-color: $success-d1;
    }
  }

  &.red {
    background-color: $alert;
    color: #fff;

    &:hover {
      background-color: $alert-h1;
    }
  }

  &.success {
    background-color: $success-d1;
    color: #fff;

    &:hover {
      background-color: $success;
    }
  }

  &.tab {
    background: transparent;
    border-radius: 0;
    font-weight: 500;

    &:hover {
      color: $primary;
      box-shadow: none;
    }

    &.active {
      background: linear-gradient(-0deg, $primary 4px, transparent 4px);
    }
  }

  &.alert {
    background-color: $alert;
    color: #fff;

    &:hover {
      background-color: $alert-h1;
    }
  }

  &.cto, &.call-to-action {
    background-color: $cto;
    color: #fff;
    transition: transform 0.27s, background-color 0.27s;

    &:hover {
      background-color: $cto-d1;
      transform: scale(1.05) translateY(-1%);
    }
  }

  &.secondary {
    background-color: $primary-h5;
    color: $primary-d2;

    &:hover {
      background-color: $primary-h10;
    }
  }

  &.white {
    background-color: #fff;
    color: $primary-d2;
    outline: 1px solid transparentize($primary-d1, 0.74);
    outline-offset: -1px;

    &:hover {
      outline-color: $primary;
      background-color: $primary-h10;
      box-shadow: none;
    }
  }

  &.secondary-red {
    outline: 3px solid $alert;
    outline-offset: -3px;
    background-color: transparent;
    color: $alert-d1;

    &:hover {
      outline-color: $alert;
      color: $alert-h1;
      background-color: $alert-bg;
    }
  }

  &.bubble {

    outline: 3px solid $primary;
    outline-offset: -3px;
    background-color: transparent;
    color: $primary;

    &:hover {
      outline-color: $primary;
      color: $primary;
      background-color: $primary-bg;
    }

    &.active {
      background-color: $primary;
      color: #fff;

      &:hover {
        background-color: $primary;
      }
    }
  }
}

button.unstyled {
  border: inherit;
  background-color: inherit;
  color: inherit;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button-group {
  button {
    border-radius: 0;
    margin-right: -3px;
  }

  :last-child {
    border-radius: 0 10px 10px 0;
  }

  :first-child {
    border-radius: 10px 0 0 10px;
  }
}

.article-button {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.article-button.primary {
  background: #0078d4;
  color: white;
}

.article-button.secondary {
  background: #fff;
  outline: 2px solid #0078d4;
}

.article-button.cto {
  background: #ed4f4f;
  color: white;
}

.article-button:hover {
  background: #005ea2;
}


a[data-button="true"] {
  display: inline-block;
  padding: 4px 10px;
  background-color: #0078d4;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

a[data-button="true"]:hover {
  background-color: #005ea2;
}
