.sui.form-field {
  label {
    font-weight: 500;
  }

  input {
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    padding: 5px;

    &:focus, &:active {
      outline: none;
      border: 1px solid #7e7e7e;
    }
  }
}

label {
  font-size: 0.9rem;
  font-weight: bold;
}

::ng-deep.ng-select-container {
  border: 2px solid #aaa !important;
  height: 44px !important;

  &:focus-within {
    background-color: #dfeefe !important;
    border: 2px solid #2268bd !important;
  }
}
