@use "colors" as *;

input, textarea {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
  transition: background-color 0.3s;
  border: 1.5px solid $neutral150;

  &:focus {
    background-color: $primary-h10;
    outline: none;
    border: 1.5px solid $primary;
  }
}

::ng-deep.ng-select {
  border: 1.5px solid $neutral150 !important;
}

::ng-deep.ng-select-container {
  border: 1.5px solid $neutral150 !important;
  height: 44px !important;
  min-width: 150px;

  &:focus-within {
    background-color: #dfeefe !important;
    border: 1.5px solid $primary !important;
  }
}

.sui.form-field {
  label {
    font-weight: 500;
  }

  input {
    border: 1.5px solid $neutral150;
    border-radius: 5px;
    padding: 5px;

    &:focus, &:active {
      outline: none;
      border: 1.5px solid $primary;
    }
  }
}

label {
  font-size: 0.9rem;
  font-weight: bold;
}
