@use "colors" as *;

.modal-lg,
.modal-alert,
.modal-fullscreen,
.modal-lg-no-padding {
  background: $neutral100;
  padding: 16px;

  & :focus {
    outline: none;
  }
}

.modal-alert {
  align-self: start;
  margin-top: 5dvh;
}

.modal-fullscreen {
  width: 100dvw !important;
  height: 100vh !important;
}

.modal-lg-no-padding {
  padding: 0;
}

.modal-toast {
  padding: 0;
  position: fixed !important;
  bottom: 8px;
  right: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
