@use "colors" as *;

.modal-lg,
.modal-alert,
.modal-fullscreen,
.modal-lg-no-padding {
  background: $neutral100;
  padding: 16px;

  & :focus {
    outline: none;
  }
}

.modal-alert {
  align-self: start;
  margin-top: 5dvh;
}

.modal-fullscreen {
  width: 100dvw !important;
  height: 100vh !important;
}

.modal-lg-no-padding {
  padding: 0;
}
