@use "colors" as *;

.left-sidebar-layout {
  height: 100%;
  display: flex;
  gap: 60px;

  .left-sidebar {
    background: $neutral100;
    margin: -32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .content {
    flex-grow: 1;
  }
}
