@use "colors" as *;

.left-sidebar-layout {
  height: 100%;
  display: flex;

  .left-sidebar {
    background: $neutral100;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .content {
    flex-grow: 1;
  }
}

.content-info-header {
  min-height: 74px;
  max-height: 74px;
  padding: 16px 16px 16px 0;
  background: $neutral100;
}

.text-meta {
  color: $neutral700;
  font-style: italic;
}

.text-right {
  display: block;
  text-align: right;
}

.list-entry {
  cursor: pointer;

  &.striped {
    &:nth-child(3n){background-color: $neutral100;}
    &:nth-child(3n - 1){background-color: $neutral150;}
    &:nth-child(3n - 2){background-color: $neutral200;}
  }

  &.striped:hover,
  &:hover {
    color: $primary;
  }

  .img-wrapper {
    width: 50px;
    height: 48px;
  }

  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid $primary;
    transition: width 0.5s, height 0.5s, transform 0.5s;
    position: absolute;

  }

  &.selected {
    outline: 3px solid $primary;
    outline-offset: -3px;
  }
}

.editor-layout {
  max-height: calc(100dvh - 100px);
  height: calc(100dvh - 100px);
  overflow: auto;
  max-width: 1300px;
}
