@use "colors" as *;


body {
  color: $text;
  background: $neutral100;
  scrollbar-color: $primary-h2 $neutral100;
}

.left-sidebar-layout {
  height: 100%;
  display: flex;

  .left-sidebar {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .content {
    flex-grow: 1;
    background: $neutral100;
  }
}

.content-info-header {
  min-height: 74px;
  padding: 16px;
  background: $neutral100;
}

.text-meta {
  color: $neutral700;
  font-style: italic;
}

.text-right {
  display: block;
  text-align: right;
}

.list-entry {
  cursor: pointer;
  font-weight: 400;

  &.striped {
    &:nth-child(3n){background-color: $neutral100;}
    &:nth-child(3n - 1){background-color: $neutral150;}
    &:nth-child(3n - 2){background-color: $neutral200;}
  }

  &.striped:hover,
  &:hover {
    color: $primary;
  }

  .img-wrapper {
    width: 50px;
    height: 48px;
  }

  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid $primary;
    transition: width 0.5s, height 0.5s, transform 0.5s;
    position: absolute;

  }

  &.selected {
    outline: 1px solid transparentize($primary-d1, 0.9);
    outline-offset: -1px;
    border-radius: 6px;
    background-color: transparentize($primary, 0.82);
  }
}

.editor-layout {
  max-height: calc(100dvh - 100px);
  height: calc(100dvh - 100px);
  overflow: auto;
  max-width: 1300px;

  .overscroll {
    height: 500px;
  }
}

.card {
  background: $neutral0;
  padding: 16px;
  border-radius: 6px;
  outline: 1px solid transparentize($primary-d1, 0.94);
  box-shadow: 4px 4px 8px $neutral150;
}

.border {
  outline: 1.5px solid $primary;
}
