@for $i from 1 through 20 {
  $percentage: ($i * 5);
  .bg-grey-#{$i * 50} {
    background: hsl(0, 0%, ($i * 5));
  }
  .color-grey-#{$i * 50} {
    color: hsl(0, 0%, ($i * 5));
  }
}

/*@media (prefers-color-scheme: dark) {
  html, {
    background: #eaeaea;
    filter: invert(100%) hue-rotate(180deg);

    img {
      filter: invert(100%) hue-rotate(180deg);
    }

    .cdk-overlay-pane, {
      background: #cfcfcf;
      filter: invert(100%) hue-rotate(180deg) !important;
    }
  }
}*/
