@use "colors" as *;

.left-sidebar-layout {
  height: 100%;
  display: flex;

  .left-sidebar {
    background: $neutral100;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .content {
    flex-grow: 1;
  }
}

.content-info-header {
  min-height: 48px;
  max-height: 48px;
  background: $neutral100;
}
