@use "colors" as *;

.only-editmode {
  pointer-events: none;
  opacity: 0;
}


.section:not(.edit-mode) {
  cursor: pointer;
  &:hover {
    outline: 1px solid $neutral200;
  }
}

.edit-mode {
  .only-editmode {
    pointer-events: all;
    opacity: 100%;
  }

  outline: 1px solid transparentize($primary-d1, 0.94) !important;
  box-shadow: 3px 3px 12px $neutral200;

  .section-preview {
    opacity: 0;
  }

}

.section-content {
  display: grid;
  justify-items: stretch;

  .section-editor,
  .section-preview {
    grid-area: 1 / 1;
    position: relative;
    box-sizing: border-box;
  }

  .section-editor {
    padding: 0 16px 12px;
  }

  .section-preview {
    margin-top: -50px;
    min-height: calc(100% + 50px);
    pointer-events: none;
  }
}

// Section titlebar
.section-titlebar {
  position: relative;
  background: transparent;
  z-index: 1;

  b {
    color: $primary;
    font-size: 0.9rem;
  }

  .move-button,
  .x {
    z-index: 1000;

    &:hover {
      &.move-button { background: $primary-h4; }
      &.x {
        background: $error;
        color: #fff;
      }
    }
  }

  .x {
    cursor: pointer;
    border-radius: 50%;
  }
}
