<div class="content-info-header sui flex-x ai-center wrap">
  @if (page(); as page) {
    <div class="sui flex-x ai-center gap-2 grow-1">
      <h1>{{ page.Path.replace('-', ' ').replaceAll('/', ' › ') || 'Startseite'}}</h1>
      @if(page.PublishedAt?.Valid) {
        <a [href]="pageUrl()" target="_blank"><app-bt-icon name="BoxArrowUpRight" size="ml"/></a>
      } @else {
        <app-bt-icon name="PencilFill" />
      }
    </div>

    <app-manage-entry-buttons
      [entry]="page"
      (save)="save()"
      (togglePublished)="togglePublished()"
      (delete)="delete()"
    />
  }
</div>

<div class="editor-layout sui p-2">
  <div data-testid="form-animal-editor" class="sui flex-y gap-3 grow-1 card">
    <h3>Seiteneinstellungen</h3>
    <form class="sui grow-1 flex-y gap-2">
      <div class="sui flex-x gap-2 wrap">
        <app-text-input idName="path" label="Pfad" [(twoWayModel)]="page().Path" explanation="Hier kann ein URL Pfad, endend mit dem Titel der Seite angegeben werden. Z.B. 'hunde/Rüden' - dann wird der Link Seite im Header-Menü unter dem Reiter 'Hunde' -> 'Rüden' angezeigt und ist unter dem Link 'https://meine-seite.de/hunde/Rüden' aufrufbar"/>
        <app-number-input idName="priority" label="Priorität" explanation="Bei höherer Priorität wird diese Seite weiter vorne im Header angezeigt. Auch negative Werte sind möglich. Es ist zu empfehlen in Zehnerschritten zu arbeiten, damit man notfalls Seiten dazwischenschieben kann." [(twoWayModel)]="page().Priority"/>
        <app-checkbox-input idName="show-in-menu" label="In Menü anzeigen" [(twoWayModel)]="page().ShowInMenu"/>
        <app-checkbox-input idName="show-in-footer" label="Im Footer verlinken" [(twoWayModel)]="page().LinkInFooter"/>
      </div>
      <app-last-edited [entry]="page()"/>
    </form>
  </div>

  @if (page(); as page) {
    <br>
    <br>

    @if (page.ArticleID) {
      <app-article-editor [articleId]="page.ArticleID" [saveArticle]="saveArticle$" class="content"/>
    } @else {
      <button data-testid="btn-create-article-for-animal" (click)="createArticle()" class="secondary">Artikel erstellen</button>
    }
  }
</div>
