<div class="content-info-header sui flex-x ai-center wrap">
  @if (page(); as page) {
    <div class="sui flex-x ai-center gap-2 grow-1">
      <h1>{{ page.Path.replace('-', ' ').replaceAll('/', ' › ') || 'Startseite'}}</h1>
      <a [href]="pageUrl() + '?showDraft=true'" target="_blank"><app-bt-icon name="BoxArrowUpRight" size="ml"/></a>
    </div>
    <div class="sui flex-x gap-2">
      <button type="button" class="primary" (click)="save()">Speichern</button>
      @let isPublished = page.PublishedAt?.Valid;
      <button [class.warning]="!isPublished" [class.success]="isPublished" (click)="togglePublished()">{{ page.PublishedAt?.Valid ? 'Depublizieren' : 'Publizieren' }}</button>
      <button type="button" class="red" (click)="delete()">Löschen</button>
    </div>
  }
</div>

<div class="editor-layout sui p-2">
  <div data-testid="form-animal-editor" class="sui flex-x gap-3 grow-1 card">
    <form class="sui grow-1 flex-y gap-2">
      <div class="sui flex-x gap-2 wrap">
        <app-text-input idName="path" label="Pfad" [(twoWayModel)]="page().Path"/>
        <app-number-input idName="priority" label="Priorität" explanation="Bei höherer Priorität wird diese Seite weiter vorne im Header angezeigt. Auch negative Werte sind möglich. Es ist zu empfehlen in Zehnerschritten zu arbeiten, damit man Notfalls Seiten dazwischenschieben kann." [(twoWayModel)]="page().Priority"/>
        <app-checkbox-input idName="show-in-menu" label="In Menü anzeigen" [(twoWayModel)]="page().ShowInMenu"/>
        <app-checkbox-input idName="show-in-menu" label="Im Footer verlinken" [(twoWayModel)]="page().LinkInFooter"/>
      </div>
  <app-last-edited [entry]="page()"/>
    </form>
  </div>

  @if (page(); as page) {
    <br>
    <br>

    @if (page.ArticleID) {
      <app-article-editor [articleId]="page.ArticleID" [saveArticle]="saveArticle$" class="content"/>
    } @else {
      <button data-testid="btn-create-article-for-animal" (click)="createArticle()" class="secondary">Artikel erstellen</button>

    }
  }
</div>
