<div class="sui flex-x ai-center gap-1">
  <label [for]="idName()">{{label()}}</label>
  @if(explanation()) {
    <button class="small secondary questionmark" (click)="showExplanation()">?</button>
  }
</div>

<div class="sui flex-x gap-2">
  <div class="sui flex-x gap-1 ai-center">
    <span>von</span>
    <input [step]="stepSize()" [min]="min()" [max]="max()" style="width: 64px" [id]="idName()" [name]="idName()" type="number" [value]="twoWayModel()[0]" (input)="onInput($event, 0)">
  </div>
  <div class="sui flex-x gap-1 ai-center">
    <span>bis</span>
    <input [step]="stepSize()" [min]="min()" [max]="max()" style="width: 64px" [id]="idName()" [name]="idName()" type="number" [value]="twoWayModel()[1]" (input)="onInput($event, 1)">
  </div>
</div>
