<div class="sui flex-y gap-2 wrap" (input)="onInput.next()">

    <app-number-input
      idName="amount" label="Maximal angezeigte Anzahl (freilassen für alle)"
      [(twoWayModel)]="section().Content.MaxNumber"
    />

    <div class="sui flex-x gap-3 wrap">
      <app-range-input
        idName="age" label="Alter in Jahren"
        [stepSize]="0.25"
        explanation="von x bis y Jahre (von / bis kann auch leer sein um Alter in eine Richtung offen zu lassen)"
        [(twoWayModel)]="section().Content.AgeRange"
      />
      <app-range-input
        idName="size" label="Größe in cm"
        explanation="von x bis y cm (von / bis kann auch leer sein um Alter in eine Richtung offen zu lassen)"
        [(twoWayModel)]="section().Content.SizeRange"
      />
      <app-select-input
        class="sui grow-1"
        idName="gender" label="Geschlecht"
        [options]="['both', 'male', 'female']"
        [optionTranslations]="{
        both: 'beide',
        male: 'männlich',
        female: 'weiblich',
      }"
        (onInputChange)="onInput.next()"
        [(twoWayModel)]="section().Content.Gender"
      />
    </div>

    <div class="sui flex-x gap-2 wrap">
      <app-radio-buttons-input
        idName="status"
        label="Eingeschlossene Stati"
        [options]="animalStati"
        [multiSelect]="true"
        [(twoWayModelMulti)]="section().Content.StatusInclude"
        (twoWayModelMultiChange)="onInput.next()"
      />
      <app-radio-buttons-input
        idName="status"
        label="Ausgschlossene Stati"
        [options]="animalStati"
        [multiSelect]="true"
        [(twoWayModelMulti)]="section().Content.StatusExclude"
        (twoWayModelMultiChange)="onInput.next()"
      />
    </div>

  <br>
  <h2>Reihenfolge <button class="small secondary questionmark" type="button" (click)="showExplanation()"><span>?</span></button></h2>
    <div class="lists">
      <b>Vorne anzuzeignde Hunde</b>
      <div
        class="droplist"
        id="front"
        cdkDropList
        cdkDropListOrientation="mixed"
        #frontList="cdkDropList"
        [cdkDropListData]="frontAnimals"
        [cdkDropListConnectedTo]="[middleList, backList]"
        (cdkDropListDropped)="drop($event)">

        @for (animal of frontAnimals; track animal.ID) {
          <div class="animal-mini-card" cdkDrag>
            <img [cmsImage]="animal.Portrait!">
            <span>{{ animal.Name }}</span>
          </div>
        }
      </div>
      <br>
      <b>Automatisch sortierte Hunde in der Mitte</b>
      <div
        class="droplist"
        id="middle"
        cdkDropList
        cdkDropListOrientation="mixed"
        #middleList="cdkDropList"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListData]="middleAnimals"
        [cdkDropListConnectedTo]="[frontList, backList]"
        (cdkDropListDropped)="drop($event)">
        @for (animal of middleAnimals; track animal.ID) {
          <div class="animal-mini-card" cdkDrag>
            <img [cmsImage]="animal.Portrait!">
            <span>{{ animal.Name }}</span>
          </div>
        }
      </div>
      <br>
      <b>Hinten anzuzeignde Hunde</b>
      <div
        class="droplist"
        id="back"
        cdkDropList
        cdkDropListOrientation="mixed"
        #backList="cdkDropList"
        [cdkDropListData]="backAnimals"
        [cdkDropListConnectedTo]="[frontList, middleList]"
        (cdkDropListDropped)="drop($event)">

        @for (animal of backAnimals; track animal.ID) {
          <div class="animal-mini-card" cdkDrag>
            <img [cmsImage]="animal.Portrait!">
            <span>{{ animal.Name }}</span>
          </div>
        }
      </div>

    </div>

</div>
