table {
  border-collapse: collapse;
  min-width: 320px;

  td {
    padding: 4px 8px;
  }

}

.form-text {
  line-height: 1.5;

  p {
    border-bottom: 12px;
  }
}

.card {
  overflow-y: auto;
}

::ng-deep {
  .form-text p {
    padding-bottom: 16px;
  }
}