.sui {
    &.shadow-s-0 {
        box-shadow: 0 0 8px #00000038;
    }
    &.shadow-m-0 {
        box-shadow: 0 0 16px #00000038;
    }
    &.shadow-l-0 {
        box-shadow: 0 0 22px #00000038;
    }
    &.shadow-s-1 {
        box-shadow: 0 0 8px #00000063;
    }
    &.shadow-m-1 {
        box-shadow: 0 0 16px #00000063;
    }
    &.shadow-l-1 {
        box-shadow: 0 0 22px #00000063;
    }
    &.shadow-s-2 {
        box-shadow: 0 0 8px #00000080;
    }
    &.shadow-m-2 {
        box-shadow: 0 0 16px #00000080;
    }
    &.shadow-l-2 {
        box-shadow: 0 0 22px #00000080;
    }
}