@use "variables" as *;
.sui {
  &.text-small {
    font-size: $fontsize-small;
  }
  &.text-small-2 {
    font-size: $fontsize-small-2;
    line-height: 0.2rem;
  }

  &.text-secondary {
    opacity: 0.5;
  }

  &.text-balance {
    text-wrap: balance;
  }
}
