@use "variables" as *;
@use "sass:list";

.sui {
  @for $i from 1 through list.length($spacers) {
    $cspacer: list.nth($spacers, $i);

    &.m-#{$i} {
      margin: list.nth($spacers, $i);
    }
    &.mx-#{$i} {
      margin-left: $cspacer;
      margin-right: $cspacer;
    }
    &.my-#{$i} {
      margin-top: $cspacer;
      margin-bottom: $cspacer;
    }
    &.mb-#{$i} {
      margin-bottom: $cspacer;
    }
    &.mt-#{$i} {
      margin-top: $cspacer;
    }
    &.mr-#{$i} {
      margin-right: $cspacer;
    }
    &.ml-#{$i} {
      margin-left: $cspacer;
    }

    &.p-#{$i} {
        padding: list.nth($spacers, $i);
      }
      &.px-#{$i} {
        padding-left: $cspacer;
        padding-right: $cspacer;
      }
      &.py-#{$i} {
        padding-top: $cspacer;
        padding-bottom: $cspacer;
      }
      &.pb-#{$i} {
        padding-bottom: $cspacer;
      }
      &.pt-#{$i} {
        padding-top: $cspacer;
      }
      &.pr-#{$i} {
        padding-right: $cspacer;
      }
      &.pl-#{$i} {
        padding-left: $cspacer;
      }
  }

  @each $p in $percentages {
    .w-#{$p} {
        width: #{$p}#{"%"};
    }
    .h-#{$p} {
        height: #{$p}#{"%"};
    }
    .w-min-#{$p} {
        min-width: #{$p}#{"%"};
    }
    .h-min-#{$p} {
        min-height: #{$p}#{"%"};
    }
  }
}
