@use "variables" as *;

.sui {
    &.flex-x {
        display: flex;
    }

    &.flex-y {
        display: flex;
        flex-direction: column;
    }

    &.flex-y,
    &.flex-x {
        &.ai-center {
            align-items: center;
        }
        &.ai-stretch {
            align-items: stretch;
        }
        &.ai-start {
            align-items: start;
        }
        &.ai-end {
            align-items: end;
        }
        &.jc-center {
            justify-content: center;
        }
        &.jc-start {
            justify-content: start;
        }
        &.jc-end {
            justify-content: end;
        }
        &.jc-space-between {
            justify-content: space-between;
        }
        &.jc-space-around {
          justify-content: space-around;
        }
        &.jc-space-evenly {
            justify-content: space-evenly;
        }
        &.jc-stretch {
            justify-content: stretch;
        }

        &.wrap {
            flex-wrap: wrap;
        }
    }

    &.grow-1 {
        flex-grow: 1;
    }

    &.grow-2 {
        flex-grow: 2;
    }

    &.grow-3 {
        flex-grow: 3;
    }

    @for $i from 1 through length($spacers) {
        &.gap-#{$i} {
            gap: nth($spacers, $i);
        }
    }

    &.block {
        display: block;

    }
    &.inline-block {
        display: inline-block;
    }
    &.relative {
        position: relative;
    }

    &.text-center {
        text-align: center;
    }

    &.wrapper {
        width: clamp(250px, calc(100dvw - 64px), 1250px);
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .w-100 {
        width: 100%;
    }

    .w-100dvw {
        width: 100dvw;
    }

    .w-33 {
        width: 33%;
    }

    .w-50 {
        width: 50%;
    }

    .w-25 {
        width: 25%;
    }

    .mw-100 {
        min-width: 100%;
    }

    .mw-33 {
        min-width: 33%;
    }

    .mw-50 {
        min-width: 50%;
    }

    .mw-25 {
        min-width: 25%;
    }

    .h-100 {
        height: 100%;
    }

    .h-100dvh {
        height: 100dvh;
    }

    .mh-100 {
        min-height: 100%;
    }



    .inline-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
    }

    @media (max-width: $breakpoint-mobile) {
        &.desktop {
            display: none !important;
        }
    }


  @media (max-width: $breakpoint-mobile) {
    &.desktop {
      display: none !important;
    }
  }

  @media (hover: none) {
    &.desktop {
      display: none !important;
    }
  }

  @media (min-width: calc($breakpoint-mobile) + 1) and (hover: Hover) {
      &.mobile {
          display: none !important;
      }
  }
}
