<div class="sui flex-y gap-2">
  <app-radio-buttons-input
    idName="layout"
    label="Layout"
    [(twoWayModel)]="section().Content.Layout"
    [options]="['vertical', 'horizontal', 'gallery', 'single']"
    [optionTranslations]="['Vertikal', 'Horizontal', 'Gallerie', 'Einzeln']"
    [optionImages]="['/assets/img/images_layout_vertical.png', '/assets/img/images_layout_horizontal.png', '/assets/img/images_layout_gallery.png', '/assets/img/images_layout_single.png']"
  />
  <app-radio-buttons-input
    idName="size"
    label="Größe"
    [(twoWayModel)]="section().Content.Size"
    [options]="['small', 'medium', 'large']"
    [optionTranslations]="['klein', 'mittel', 'groß']"
  />
  @if(section().Content.Layout == 'single') {
    <app-text-input [(twoWayModel)]="section().Content.Link" label="Link" idName="Link" />
  }
  <app-image-picker-multi idName="bilder" label="Bilder auswählen" (twoWayModelChange)="setImages($event)" [(twoWayModel)]="section().Content!.MediaFiles"/>
  @if(section().Content.Layout == 'single' && section().Content.MediaFiles.length > 1) {
    <p style="color: red">Nur das erste Bild wird angezeigt wenn als Layout 'einzeln' eingestellt ist</p>
  }
</div>
