// article.scss muss alles (auch imports) enthalten was für die article-preview im cms relevant ist
@use "variables";
@use "fonts";

.themable.article {

  color: var(--c-text);

  h1 {
    font-family: "more-sugar";
    font-size: var(--fontsize-h1);
    color: var(--c-primary);
    font-weight: 500;
  }

  h2 {
    font-family: "more-sugar";
    font-size: var(--fontsize-h2);
    font-weight: 500;
  }

  h3 {
    font-family: "more-sugar";
    font-size: var(--fontsize-h3);
    font-weight: 500;
  }

  .section-hero {
    .hero-container {

      &::after {
        content: url(/hero-wave.svg);
        position: absolute;
        bottom: -2px;
        transform: scaleY(.4) translateY(80%);
        width: 100%;
      }

      margin-bottom: 50px;
    }
  }

  .section-blogs {
    .blogtile {
      h3 {
        font-family: "more-sugar";
      }
      border-radius: 12px;
      transition: transform .23s, box-shadow .4s;
      background: var(--neutral100);

      &:hover {
        transform: scale(1.01);
        box-shadow: 2px 4px 12px #0002;

      }
    }
  }

  button {
    outline: none;
    border: none;
    border-radius: 32px;
    font-family: 'more-sugar', system-ui;
    font-weight: 400;
    padding: 8px 16px;
    transition: background-color 0.35s, color 0.35s;
    cursor: pointer;

    &.lg {
      font-size: 32px;
    }

    &.primary {
      background: var(--c-primary);
      color: #fff;

      &:hover {
        background: var(--c-primary-h1);
      }
    }

    &.secondary {
      background: #fff;
      outline: 3px solid var(--c-primary);
      color: #424242;

      &:hover {
        background: var(--c-primary-h2);
      }
    }

    &.paypal {
      background: linear-gradient(-70deg, rgb(86, 86, 233) 57px, var(--c-cto) 58px);
      color: #fff;
      padding-right: 12px;
      transition: filter 0.25s;

      img {
        width: 2.2rem;
        height: 2.2rem;
      }

      &:hover {
        filter: saturate(1.5);
      }
    }
  }

  input {
    color: #424242;
    outline: 3px solid #365e32;
    outline-offset: -1px;
    border-radius: 100px;
    font-family: 'more-sugar', system-ui;
    padding: 4px 12px;
  }

  .button-group {
    button {
      border-radius: 0;
      margin-right: -3px;

      background: #fff;
      outline: 3px solid var(--c-primary);
      outline-offset: -1px;
      color: #424242;

      &:hover {
        background: var(--c-primary-h2);
      }

      &.active {
        background: var(--c-primary);
        color: #fff;

        &:hover {
          background: var(--c-primary-h1);
        }
      }
    }

    :last-child {
      border-radius: 0 100px 100px 0;
    }

    :first-child {
      border-radius: 100px 0 0 100px;
    }
  }

  .animal-card {
    font-family: "more-sugar", system-ui;
    width: 230px;
    height: 290px;
    transition: transform 0.23s, box-shadow 0.4s;
    display: block;
    background-color: #fff;
    position: relative;
    color: inherit;
    border-radius: 12px;
    overflow: hidden;
    outline: none;
    box-shadow: 0 0 16px #00000034;

    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 16px #0006;
    }

    .name-row {
      padding-left: 0.5rem;
      padding-top: 0.3rem;
      font-size: var(--fontsize-h3);
      display: flex;
      justify-content: center;
    }

    .gender-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
    .bubbles {
      position: absolute;
      bottom: 68px;
      left: 12px;
      display: flex;
      padding: 0;
      flex-direction: column;
      gap: 8px;
      align-items: start;
      color: #fff;

      span {
        border-radius: 40px;
        padding: 2px 8px;
        font-size: var(--fontsize-small);
        font-weight: 100;
      }
    }
  }

  @media (max-width: 700px) {
    .animal-card {
      width: calc(50dvw - 50px);
    }
  }

  @media (max-width: 550px) {
    .animal-card {
      width: calc(100dvw - 60px);
    }
  }
}