.column-row {
    gap: var(--section-gap-x);
}

.section-renderer {
  min-height: 50px;

  &:hover {
    background: none !important;
  }
}

 hr {
   // needed because the astro rendered rows have padding - this one hasn't.
   margin-top: 20px
 }
