@if (section(); as section) {
  <div [class]="'themable section-' + section.SectionType">
    @switch (section.SectionType) {
      @case ('title') {
        <!--suppress AngularUndefinedBinding -->
        <section-title [section]="section"/>
      }
      @case ('text') {
        <section-text [section]="section"/>
      }
      @case ('image') {
        <section-images [section]="section" [uploadsUrl]="uploadsUrl"/>
      }
      @case ('hero') {
        <section-hero [section]="section" [uploadsUrl]="uploadsUrl"/>
      }
      @case ('video') {
        <section-video [section]="section"/>
      }
      @case ('animal-list') {
        <section-animal-list [section]="section"/>
      }
      @case ('html') {
        <section-html [section]="section"/>
      }
      @case ('separator-x') {
        <section-separator-x [section]="section"/>
      }
      @case ('home-found') {
        <section-home-found [section]="section"/>
      }
    }
  </div>
}
