$primary-h1: #c09d87;
$primary-h2: #d6b7a3;
$primary-h3: #e1c3b1;
$primary-h4: #e5cebb;
$primary-h5: #efdbcb;
$primary-h10: #fbf2ed;
$primary: #cd8947;
$accent: #df7c21;
$primary-d1: #976d54;
$primary-d2: #7e5b45;
$primary-bg: #d6b7a3;

$accent-h1: #fffaf0;

$text: #61432f;
$text-heading: #f4e8dd;
$backdrop: #707070;

$cto: #51e36e;
$cto-d1: #1db855;

$success: #51e36e;
$success-d1: #1db855;

$warning: #e9a436;
$error: #e94b36;
$alert: #ec5853;
$alert-d1: #b13430;
$alert-h1: #f8715f;
$alert-bg: #f6c0b9;
$neutral0: #fdfaf9;
$neutral100: #f8f0ed;
$neutral150: #f3ece8;
$neutral200: #e6dad2;
$neutral400: #c4c4c4;
$neutral500: #aaaaaa;
$neutral600: #7c7c7c;
$neutral700: #6b6b6b;
$neutral800: #424242;
$neutral900: #272727;
