@use "colors" as *;

.sidebar {
  min-width: 180px;
  max-width: min(275px, 20dvw);
  width: 275px;
  background: linear-gradient(#553d2d, #8a5b3b);
  color: rgba(255, 255, 255, 0.74);

  .sitename {
    color: $text-heading;
    font-size: 1.25rem;
    font-weight: 500;
    background: #4c3123;
    border-bottom: 1px solid transparentize($primary-d1, 0.5);
  }
}

.buttons {
  color: $text-heading;
  background: #553a2c;
  border-top: 1px solid transparentize($primary-d1, 0.4);
}

a {
  padding: 12px 16px;
  margin-right: 22px;
  border-radius: 0 12px 12px 0;
  font-weight: 500;
  font-size: 1.15rem;

  &.active {
    color: #fff;
    background: $accent;
  }

  &:not(.active):hover {
    background: $primary-d2;
  }
}

.logo-header {
  width: 220px;
}

@media (max-width: 1200px) {
  .sidebar {
    max-width: 64px;
    min-width: 64px;

    .sitename {
      display: none;
    }

    a {
      margin-right: 0;
      padding: 12px 18px;
      border-radius: 0;
      span {
        display: none;
      }
    }

  }
}
