@use "colors" as *;

.sidebar {
  min-width: 180px;
  background: $neutral100;
}

a {
  padding: 12px 16px;
  font-weight: bold;
  &.active {
    background: linear-gradient(90deg, $primary 4px, #fff 4px);
    color: $primary;
  }
}

