@use "colors" as *;

.sidebar {
  min-width: 180px;
  max-width: min(275px, 20dvw);
  width: 275px;
  background: $neutral200;
}

a {
  padding: 12px 16px;
  font-weight: bold;
  &.active {
    background: linear-gradient(90deg, $primary 4px, $neutral100 4px);
    color: $primary;
  }

  &:hover {
    color: $primary;
  }
}

.logo-header {
  width: 220px;
}
