<div class="container sui p-3">
  <h1 class="title">Einloggen</h1>

  <div class="sui flex-y gap-3">
    <div class="sui form-field">
      <div class="sui has-icons-left has-icons-right">
        <input #userIdInput class="input" type="text" placeholder="Nutzername">
        <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
      </div>
    </div>

    <div class="sui form-field">
      <div class="sui form-control has-icons-left has-icons-right">
        <input #passwordInput class="input" type="password" placeholder="Passwort">
        <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
      </div>
    </div>

    <div>
     <button (click)="onLogin(userIdInput.value, passwordInput.value)" class="button primary">login</button>
    </div>
  </div>
</div>

